# This file is relevant for users of Nix: You can use direnv to automatically
# set up the dev environment while in this directory.
# See also: https://direnv.net/ and https://github.com/nix-community/nix-direnv
use nix
